* {
    background-color: black;
    color: blueviolet;
    padding: 0px;
    border-radius: 0px;
}

body {
    text-align: center;
    padding: 135px 40px 40px 40px;
    min-width: 450px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body input{
    border-color: none;
    border: none;
    user-select: none;
}

h1 {
    color: #333;
}

.inputs {
    margin: 20px 0;
}

input {
    width: 60px;
    padding: 10px;
    margin: 5px;
    font-size: 1.1em;
    border-radius: 5px;
    text-align: center;
}

button {
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button img {
    width: 35px;
    left: 35px;
}

#timerDisplay {
    font-size: 2.5em;
    margin-top: 30px;
    color: #222;
}