/* Padrão */
:root {
    --empty-background: #ffffff00 ;
    --bg-main: #fefdfb;
    --color-letters: #000;
    --bg-mainMD: #252525;
    --color-letterMD: #fefdfb;
    --color-iconsMD: #000;
}
/* Corpo do Card */
.Body-DarkMode {
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px;
  background-color: #e0e0e08e;
  color: var(--color-letters);
}

.Body-DarkMode h2 {
    font-size: 15px;
    margin: 0px;
}

.Body-DarkMode p {
   margin-bottom: 0;
}

/* Estilização do Botão */

.Body-DarkMode 
button.btn-toggle-light{
    padding: 0px 6px;
    border-radius: 25px;
    background-color: var(--bg-main);
}

.Body-DarkMode 
button.btn-toggle-light{
    padding: 0px 6px;
    margin-bottom:2px ;
    border-radius: 25px;
    background-color: none;
}

.Body-DarkMode 
button.btn-toggle-dark{
    display: none;
    color: #fefdfb;
    background-color: #000;
    margin-left: 41.5px;
    padding: 5px 8px;
    border-radius: 20px;
}

.Body-Buttons-DarkMode {
    background-color: grey;
    border-radius: 30px;
    margin: 1.5px;
    margin-right: 365px;
} 

.btn-toggle-light {
    font-size: 20px;
}

.btn-toggle-dark {
    font-size: 15px;
}

/* Animações */



.slide-animation-right {
  transform: translateX(0);
  animation: slideRight 0.4s ease-out;
}

@keyframes slideRight {
  from { transform: translateX(40px); }
  to { transform: translateX(0); }
}

.slide-animation-left {
  transform: translateX(0);
  animation: slideLeft 0.4s ease-out;
}

@keyframes slideLeft {
  from { transform: translateX(-40px); }
  to { transform: translateX(0); }
}
