/* Corpo do Card */
.Body-DarkMode {
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px;
  background-color: #e0e0e08e;
}

.Body-DarkMode h2 {
    font-size: 15px;
    margin: 0px;
}

.Body-DarkMode p {
   margin-bottom: 0;
}

/* Estilização do Botão */

.Body-DarkMode 
button.btn-toggle-light{
    padding: 0px 6px;
    border-radius: 25px;
}

.Body-DarkMode 
button.btn-toggle-light{
    padding: 0px 5.5px;
    margin-bottom: 0.8px;
    border-radius: 25px;
    background-color: none;
}

.Body-DarkMode 
button.btn-toggle-dark{
    display: none;
    color: #fefdfb;
    background-color: #000;
    margin-left: 41.5px;
    padding: 4px 8px;
    border-radius: 20px;
}

.Body-Buttons-DarkMode {
    background-color: grey;
    border-radius: 30px;
    margin: 1.5px;
    margin-right: 365px;
} 

.btn-toggle-light {
    font-size: 20px;
}

.btn-toggle-dark {
    font-size: 15px;
}

/* Animações */



.slide-animation-right {
  transform: translateX(0);
  animation: slideRight 0.4s ease-out;
}

@keyframes slideRight {
  from { transform: translateX(40px); }
  to { transform: translateX(0); }
}

.slide-animation-left {
  transform: translateX(0);
  animation: slideLeft 0.4s ease-out;
}

@keyframes slideLeft {
  from { transform: translateX(-40px); }
  to { transform: translateX(0); }
}

@media (max-width: 605px) {
  .Body-Buttons-DarkMode {
    margin-right: 315px;
} 
  
}