/* ARQUIVO DE MODIFICAÇÕES DOS MODAIS E CONFIGURAÇÕES DOS MODAIS, COMO, DARKMODE, NOTIFICAÇÃO UPGRADE E FUTUROS MODAL'S*/


@import "../main.css";

/* Modal Up*/
div.modalUp {
  display: none;
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.562); 
  justify-content: center; 
  align-items: center; 
}

div.modalUp div.modalUp-content {
  padding: 20px;
  border-radius: 5px;
  width: 90%; 
  max-width: 500px; 
  background-color: rgb(214, 214, 214);
  box-shadow: 0 4px 8px rgba(112, 112, 112, 0.062); 
}

div.modalUp .bi-x-circle {
  cursor: pointer;
  background-color: transparent;
  font-size: 25px;
}

.upgrade .content-upgrade button {
  cursor: pointer;
  background-color: transparent;
  font-size: 5vh;
}
.upgrade .content-upgrade {
  display: flex;
  flex-direction: column;
  padding: 6px;
}

.upgrade .content-upgrade p {
  font-size: small;

}

/* Corpo do Modal Upgrade */
.Body-modalUp {
  padding: 15px;
  border-radius: 8px;
}


.Body-modalUp .Body-modalUp-Content {
  background-color: rgb(216, 216, 216);
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
  i {
    color: aliceblue;
    background-color: red;
    padding: 2px 8px;
    border-radius: 5px;
  }
}

/* Pop-up */
.container-popup-color {
  display: flex;
  align-items: end;
  justify-content: end;
  position: relative;
}

.container-popup-color p {
  font-size: small;

}

/* Conteúdo do Pop up */
.container-popup-color .content button {
  cursor: pointer;
  background-color: transparent;
  font-size: 5vh;
}
.container-popup-color .content {
  display: flex;
  flex-direction: column;
  padding: 6px;
}

div.modal {
  display: none;
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.116); 
  justify-content: center; 
  align-items: center; 
}

div.modal .bi-x-circle {
  display: flex;
  max-width: 600px;
  pointer-events: visible;
  background-color: rgba(179, 179, 179, 0);
  font-size: 20px;
}

div.modal div.modal-content {
  padding: 20px;
  border-radius: 5px;
  width: 90%; 
  max-width: 500px; 
  box-shadow: 0 4px 8px rgba(112, 112, 112, 0.2); 
}

/* Corpo do Card */
.Body-DarkMode {
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px;
  background-color: #e0e0e08e;
}

.Body-DarkMode h2 {
    font-size: 15px;
    margin: 0px;
}

.Body-DarkMode p {
   margin-bottom: 0;
}

/* Estilização do Botão */

.Body-DarkMode 
button.btn-toggle-light{
    padding: 0px 6px;
    border-radius: 25px;
}

.Body-DarkMode 
button.btn-toggle-light{
    padding: 0px 5.5px;
    margin-bottom: 0.8px;
    border-radius: 25px;
    background-color: none;
}

.Body-DarkMode 
button.btn-toggle-dark{
    display: none;
    color: #fefdfb;
    background-color: #000;
    margin-left: 41.5px;
    padding: 4px 8px;
    border-radius: 20px;
}

.Body-Buttons-DarkMode {
    background-color: grey;
    border-radius: 30px;
    margin: 1.5px;
    margin-right: 365px;
} 

.btn-toggle-light {
    font-size: 20px;
}

.btn-toggle-dark {
    font-size: 15px;
}

/* Animações */

.slide-animation-right {
  transform: translateX(0);
  animation: slideRight 0.4s ease-out;
}

@keyframes slideRight {
  from { transform: translateX(40px); }
  to { transform: translateX(0); }
}

.slide-animation-left {
  transform: translateX(0);
  animation: slideLeft 0.4s ease-out;
}

@keyframes slideLeft {
  from { transform: translateX(-40px); }
  to { transform: translateX(0); }
}

@media (max-width: 605px) {
  .Body-Buttons-DarkMode {
    margin-right: 315px;
} 
  
}