@import "bootstrap-icons/font/bootstrap-icons.css";
@import "functions/modal.css";


* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", monospace;
    border: 0;
}

body {
    background-color: #EDEDED;
    min-height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Regra Global */

#divider {
  display: flex;
  background-color: #00000081;
  padding-top: 0.5px;
  margin: 8px 5px;
}

/* Principais Regras */
.Body-Popups{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.modalStyle {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.scroll-content {
  max-height: 300px;
  overflow-y: auto;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #5e5e5e #e0e0e0;
}


.hoverToType {
  position: absolute;
  text-align: start;
  transform: translateX(120px);
  display: none;
  max-width: 200px;
}

.bi-info-lg {
  cursor: pointer;
}


.tooltip {
  position: relative;
  padding: 0px 5px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: start;
  opacity: 0;
  z-index: 9999;
}

.hoverToType .tooltip{
  visibility: visible;
  opacity: 1;
}

/* Timer display */

.container-count {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-size: 25px;
  padding: 21vh;
  gap: 5px;
}

#timerDisplay {
  font-size: 2.5em;
}

/* Inputs de tempo */

.inputs input {
  width: 60px;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
}

/* Botões de controle */
.controls button {
  font-size: 1.1em;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
  margin: 0 5px;
}




/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* Responsividade */
@media (max-width: 620px) {
  .Body-Popups {
    justify-content: flex-end;
    gap: 0;
  }

  .Body-Popups .upgrade .bi,
  .Body-Popups .container-popup-color .bi{
    font-size: 25px;

    p {
      font-size: smaller;
    }
  }

  .container-count {
    padding: 25vh 0vh;
  }

  .container-count #timerDisplay{
    font-size: 55px;
  }
  
  div.modalUp div.modalUp-content button{
    width: 150cm;
    max-width: 885px ;
  }

}

@media (max-width: 835px) {
   .hoverTooltip:hover .info-hover{
    left: 0;
    opacity: 1;
  }
}